// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: Rubik, sans-serif
  font-weight: normal
  font-size: 16px
  color: #524B45


h1, .h1
  margin: 0 0 32px
  font-weight: bold
  font-size: 40px
  line-height: 50px
  color: #000


h2,.h2
  margin: 0 0 32px
  font-size: 32px
  font-weight: bold
  color: #000

h3,.h3
  margin: 0 0 6px
  font-weight: 500
  font-size: 22px
  line-height: 26px
  letter-spacing: 0.002em
  color: #524B45

h4, .h4
  font-size: 18px
  line-height: 26px
  color: #9E948A
  font-weight: normal

h5, .h5


h6, .h6


p
  font-size: 16px
  line-height: 24px

a
  color: #524B45
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


*::-webkit-input-placeholder 


*:-moz-placeholder 



*::-moz-placeholder 



*:-ms-input-placeholder 






.container
  margin: 0 auto
  width: auto
  max-width: 1310px


.slick-slide
  outline: none