@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Medium.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-SemiBold.woff2') format("woff2"), url('../fonts/Rubik/Rubik-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Bold.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Black.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Black.woff') format("woff")
  font-weight: 900
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato/Lato-Heavy.woff2') format("woff2"), url('../fonts/Lato/Lato-Heavy.woff') format("woff")
  font-weight: 800
  font-style: normal
  font-display: swap

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?lnjof8')
  src: url('../fonts/icomoon//icomoon.eot?lnjof8#iefix') format("embedded-opentype"), url('../fonts/icomoon//icomoon.ttf?lnjof8') format("truetype"), url('../fonts/icomoon//icomoon.woff?lnjof8') format("woff"), url('../fonts/icomoon//icomoon.svg?lnjof8#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.icon-check:before
  content: "\e900"

.icon-cross:before
  content: "\e901"

.icon-minus:before
  content: "\e902"

.icon-plus:before
  content: "\e903"