@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	padding: 20px 0 10px
	background: #fff
	transition: all .3s
		

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 15px 0
		z-index: 9999
		transform: translate(0 0)
		background: #fff
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)

		&+.content
			padding-top: 64px

		.container
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center

		.header-top
			margin-bottom: 0

		.logo
			display: inline-block
			width: 32px
			height: 32px
			background: url(../img/logo-small.svg)

			img
				display: none

		.btn-cart
			margin-left: 60px

		.header-info
			display: none

		.header-top__right
			display: none

		
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 24px

		&__right
			display: flex
			flex-wrap: wrap
			align-items: center

	&-time
		padding-right: 16px
		border-right: 1px solid #D9D9DE
		span
			display: block
			font-size: 14px
			line-height: 16px

			&:first-child
				margin-bottom: 4px
				color: #9E948A

			&:last-child
				color: #000

	&-tel
		padding-left: 16px
		font-weight: 500
		font-size: 18px
		line-height: 20px
		color: #000


	&-info
		display: flex
		flex-wrap: wrap
		align-items: center

		&__links
			margin-right: 50px
			list-style: none

			li
				display: inline-block
				margin-right: 12px

				&:last-child
					margin-right: 0

				a
					font-size: 14px
					line-height: 16px
					color: #524B45

	&-nav
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center




.soc-btn
	list-style: none

	li
		display: inline-block
		margin-right: 12px

		&:last-child
			margin-right: 0

		a
			color: #fff
			font-size: 12px

			.fa
				display: flex
				align-items: center
				justify-content: center
				width: 24px
				height: 24px
				border-radius: 50%

				&-vk
					background: #4B729F

				&-instagram
					background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%)
					font-size: 14px


.main-menu
	list-style: none

	li
		display: inline-block
		margin-right: 16px

		&:last-child
			margin-right: 0

		a
			display: block
			font-weight: 500
			font-size: 16px
			line-height: 18px
			color: #9E948A
			letter-spacing: -0.01em

			&:hover, &:focus, &.active
				color: $main
		


.cart
	position: relative

	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		height: 20px
		bottom: -20px
		background-color: transparent
		z-index: 999

	&.active

		&:after
			content: ''
			position: absolute
			bottom: -30px
			right: 45%
			border: 20px solid transparent
			border-bottom: 20px solid #fff
			z-index: 999


	.btn-cart

		span
			display: inline-block
			margin-left: 12px
			padding-left: 12px
			border-left: 1px solid #FF7E90
			font-size: 14px
			color: #fff
	
	&-block
		display: none
		max-height: calc(100vh - 125px)
		position: absolute
		width: 368px
		right: -120px
		top: calc(100% + 20px)
		padding: 16px 18px
		background: #fff
		border-radius: 24px
		z-index: 100
		box-shadow: 0px 8px 48px rgba(173, 137, 100, 0.32)
		overflow-y: scroll

		&::-webkit-scrollbar-track
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
			background-color: #EBEBEB


		&::-webkit-scrollbar
			width: 3px
			border-radius: 2px


		&::-webkit-scrollbar-thumb
			border-radius: 10px
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
			background: #999



		.h3
			padding-bottom: 16px
			text-align: center
			color: #000
			border-bottom: 1px solid #D9D9DE

		.basket-total

			&__item
				padding: 12px 0

				span
					&:first-child
						font-size: 14px
						line-height: 16px

					&:last-child
						font-size: 18px
						line-height: 20px

		.btn
			width: 100%

	&-item
		margin-bottom: 16px



		&__top
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			margin-bottom: 8px

		&__bottom
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap

			.count 
				width: 88px

				&-btn
					width: 28px
					height: 28px
					border-radius: 8px

					.icon
						font-size: 12px

		&__del
			height: 100%
			padding: 0
			background-color: transparent
			outline: none
			border: 0
			font-size: 20px
			color: #9E948A

		&__info
			width: 75%
			display: flex
			align-items: center

			img
				display: inline-block
				vertical-align: middle
				max-width: 56px
				max-height: 56px

			span
				width: calc(100% - 56px)
				display: inline-block
				padding-left: 8px
				font-size: 14px
				line-height: 16px
				vertical-align: middle

	
















.banner
	position: relative
	overflow: hidden
	margin: 0 auto  0
	padding-bottom: 60px
	max-width: 1920px


	&-slider
		position: relative

		&__item
			position: relative
			margin-left: 15px
			margin-right: 15px

			&:before
				content: ''
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				z-index: 100
				background: rgba(255, 255, 255, 0.8)
				border-radius: 16px
				opacity: 1
				transition: all .3s
	
			&.slick-active
				&:before
					opacity: 0


			img
				display: block
				margin: 0 auto
				border-radius: 10px
	.slick-dots
		bottom: -40px
	


.btn
	display: inline-block
	padding: 16px 24px
	font-weight: 500
	font-size: 16px
	line-height: 18px
	color: #fff
	text-align: center
	background: linear-gradient(180deg, #D03310 0%, #D20A25 100%)
	box-shadow: 0px 8px 32px rgba(243, 47, 4, 0.32), inset 0px 0px 16px rgba(255, 255, 255, 0.32)
	border-radius: 16px
	border-radius: 16px
	outline: none
	border: none

	&:hover, &:focus
		color: #fff
		opacity: 1
		outline: none

	&-cart
		position: relative
		padding: 8px 16px
		font-family: Lato
		font-size: 14px
		line-height: 16px
		font-weight: 800
		border-radius: 70px
		box-shadow: none
		&:hover, &:focus
			box-shadow: 0px 4px 6px rgba(243, 47, 4, 0.32), inset 0px 0px 16px rgba(255, 255, 255, 0.32)


	&-grey
		color: #C07F3F
		background: #F7F6F5
		box-shadow: none
		&:hover, &:focus
			opacity: 1
			color: #000

	&-gold

		&__transparent
			box-shadow: none
			color: #C07F3F
			border: 1px solid #C07F3F
			background: transparent

			&:hover, &:focus
				color: #fff
				background: #C07F3F



.mobile-menu
	display: none
	

.color

	&-grey
		color: #9E948A

.slick-dots
	li
		margin: 0 2px

		button
			padding: 0
			width: 12px
			height: 12px
			background: #E5E5EB
			border-radius: 50%
			&:before
				display: none

		&.slick-active
			button
				background: #9E948A


.shares

	&-slider
		margin-left: -16px
		margin-right: -16px

		.slick-list
			padding: 15px 0

		.shares
			&-item
				margin-left: 16px
				margin-right: 16px

				&.slick-slide
					display: flex

				&__img
					max-width: 170px

				&__info
					height: auto
					padding: 16px 24px

					p

	&-wrap
		.shares
			&-item
				margin-bottom: 32px


	&-item
		background: #FFFFFF
		box-shadow: 0px 8px 24px rgba(173, 137, 100, 0.16)
		border-radius: 16px

		&__img
			

		&__info
			padding: 24px 16px
			height: 186px

			p
				min-height: 72px
				margin-bottom: 16px
				color: #524B45


.section

	&-grey
		background: #F7F6F5

.product
	padding: 36px 0 16px

	&-item
		margin-bottom: 32px
		background: #fff
		border-radius: 24px
		box-shadow: 0px 8px 24px rgba(173, 137, 100, 0.16)

		&__img
			height: 296px
			display: flex
			align-items: center
			justify-content: center

			img
				display: block
				border-radius: 24px 24px 0 0
		&__info
			height: 256px
			padding: 24px 24px 16px
			
			

		&__text
			height: 134px
			margin-bottom: 24px

			p
				font-size: 14px
				line-height: 20px
				color: #9E948A
		&__weight
			font-size: 14px
			line-height: 20px
			color: #524B45

		&__bottom
			display: flex
			align-items: center
			justify-content: space-between
			height: 50px

			.btn
				background: linear-gradient(180deg, #D03310 0%, #D20A25 100%)
				box-shadow: 0px 8px 32px rgba(243, 47, 4, 0.32), inset 0px 0px 16px rgba(255, 255, 255, 0.32)

				&:hover
					box-shadow: none

			.count
				display: none

				&.active
					display: flex

		&__price
			display: flex
			flex-wrap: wrap
			font-size: 24px
			line-height: 28px
			

			&--current
				color: #000

			&--old
				position: relative
				font-weight: bold
				font-size: 18px
				line-height: 20px
				color: #9E948A

				&:before, &:after
					content: ''
					position: absolute
					left: 0
					right: 0
					top: 10px
					width: 100%
					height: 1px
					background: #9E948A

				&:after
					top: 11px
					background: #fff


			&--new
				width: 100%
				color: #DD0724



.footer
	padding: 48px 0 0
	background: #524B45
	color: #fff

	.header-top
		margin-bottom: 24px

	.header-info__links
		a
			color: #E5E5EB

			&:hover
				opacity: 1
				color: #fff

	.header-time span:last-child
		color: #fff

	.header-tel
		color: #fff

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding: 16px 0
		font-size: 14px
		border-top: 1px solid #615851

		a
			color: #fff

	&-copyright
		a
			color: #fff

	&-dev
		display: flex
		align-items: center

		span
			padding-right: 12px
			color: #9E948A

		img
			display: block
		

.pay-systems
	display: flex
	flex-wrap: wrap
	align-items: center

	span
		color: #9E948A

	ul
		list-style: none

		li
			display: inline-block
			margin-left: 12px
			vertical-align: middle

			a
				display: flex
				width: 50px
				height: 32px
				align-items: center
				justify-content: center
				background: #615851
				border-radius: 2px



.burger-btn
	display: none
	width: 36px
	margin-right: 15px

	span
		display: block
		width: 100%
		height: 3px
		background: #000
		margin-bottom: 7px

		&:last-child
			margin-bottom: 0

	&:hover, &:foucs
		opacity: 1

.bg
	&-grey
		background: #F7F6F5


.inner
	padding: 36px 0 50px


.basket

	&-page
		.footer
			.header-top
				margin-bottom: 24px

		.section
		
			.container
				max-width: 990px

		.header
			padding: 16px 0
			background: #F7F6F5

			&-top
				width: 100%
				margin: 0

	&-step
		position: relative
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		width: 700px

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			width: 80%
			margin: 0 auto
			height: 1px
			top: 10px
			border: 1px dashed #D9D9DE

		&__item
			position: relative
			padding: 0 5px 0 40px
			background: #F7F6F5

			&:last-child
				padding-right: 0


			&:before
				content: ''
				position: absolute
				left: 4px
				top: -5px
				width: 28px
				height: 28px
				border-radius: 50%
				border: 1px solid #C07F3F

			&.active

				&:before
					background-color: #C07F3F
					background-image: url(../img/check-ic.svg)
					background-repeat: no-repeat
					background-position: center

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 32px

		.btn-gold__transparent
			padding-top: 20px
			padding-bottom: 20px

	&-table
		display: table
		width: 100%
		border-collapse:separate
		border-spacing: 0 24px

		&__row
			display: table-row

			&:last-child
				.basket-table__col
					&:before
						display: none

		&__col
			position: relative
			display: table-cell
			vertical-align: middle

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -12px
				width: 100%
				height: 1px
				background: #EBEBEB
			

			&:first-child
				width: 50%

			&:not(:first-child)
				padding-left: 24px




			&--price
				min-width: 80px
				text-align: right
				font-size: 24px
				line-height: 28px
				color: #000

			&--calc
				color: #DD0724
				font-size: 24px
				line-height: 28px

		&__info
			display: flex
			align-items: center

			&--img
				display: flex
				align-items: center
				justify-content: center
				max-height: 150px
				max-width: 150px

				img
					max-height: 100%

			&--text
				display: flex
				flex-direction: column
				width: calc(100% - 150px)
				padding-top: 16px
				padding-bottom: 16px
				padding-left: 16px

				.h3
					margin-bottom: 6px

				p
					margin-bottom: 6px
					max-width: 280px
					font-size: 14px
					line-height: 20px
					color: #9E948A

				span
					font-size: 14px
					color: #524B45

		&__del
			padding: 0
			color: #9E948A
			border: 0
			outline: none
			background-color: transparent

			&:hover
				color: #000
				opacity: 1

	&-total

		&__item
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			padding: 24px 0
			border-top: 1px solid #D9D9DE

			span
				&:first-child
					font-size: 18px
					line-height: 24px


				&:last-child
					font-size: 24px
					line-height: 28px
					color: #000

					&.color-red
						color: #DD0724




.order
	max-width: 624px

	&-item
		border-bottom: 1px solid #D9D9DE

		&+.order-item
			padding-top: 32px
			padding-bottom: 32px


		.h3
			margin-bottom: 16px
			color: #000

		&+.basket-total

			.basket-total__item
				&:first-child
					border-top: 0

	&-radio
		display: inline-flex
		align-items: center
		margin-bottom: 24px
		padding: 8px
		background: #F7F6F5
		border: 1px solid #D9D9DE
		border-radius: 20px
		list-style: none


		&__item
			margin-right: 12px

			&:last-child
				margin-right: 0

			input[type="radio"]
				display: none

				&+label
					display: block
					padding: 16px 24px
					font-weight: 500
					font-size: 16px
					line-height: 18px
					color: #C07F3F
					border-radius: 16px
					cursor: pointer

				&:checked
					&+label
						color: #fff
						background-color: #C07F3F

	&-info
		margin-bottom: 36px
		list-style: none

		li
			margin-bottom: 16px

			span
				display: block

				&:first-child
					font-size: 14px
					line-height: 16px
					color: #9E948A

				&:last-child
					font-size: 18px
					line-height: 26px
					color: #000

	&-table
		width: 100%

		&__wrap
			padding: 20px 32px 0
			margin-bottom: 32px
			box-shadow: 0px 8px 24px rgba(173, 137, 100, 0.16)
			border-radius: 24px

			.basket-total
				&__item
					&:first-child
						border-top: 2px solid #a7a8ab


		thead

			tr
				td
					padding: 12px 0 12px
					border-bottom: 2px solid #A7A8AB
					font-weight: 500
					font-size: 18px
					line-height: 24px
					color: #000

					&:last-child
						text-align: right

		tbody

			tr
				td
					padding: 14px 0			
					font-size: 18px
					line-height: 26px
					border-bottom: 1px solid #D9D9DE

					&:first-child
						width: 40%

						img
							display: inline-block
							vertical-align: middle

						span
							display: inline-block
							width: calc(100% - 56px)
							vertical-align: middle
							padding-left: 10px

				&:last-child
					td
						border: 0

















#give-change
	display: none


.color-red
	color: #dd0724


.radio-list, .check-list
	list-style: none

	&__item
		display: block
		margin-bottom: 12px

		input[type="radio"], input[type='checkbox']
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 28px
				cursor: pointer
				font-size: 14px
				line-height: 16px
				color: #000

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 18px
					height: 18px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border: 1px solid #A7A8AB
					border-radius: 2px


			&:checked
				&+label
					&::before
						content: '\e900'
						background: #C07F3F
						border-color: #C07F3F
						font-family: icomoon
						color: #fff
						font-size: 10px


		&.agreement
			padding-top: 8px
			input[type="radio"], input[type='checkbox']
				&+label
					&::before
						top: 1px


			a
				color: #C07F3F





.tabs

	&-nav
		display: inline-flex
		padding: 8px
		background: #F7F6F5
		border: 1px solid #D9D9DE
		border-radius: 20px
		list-style: none


		li
			margin-right: 12px

			&:last-child
				margin-right: 0

			a
				display: block
				padding: 16px 24px
				font-weight: 500
				font-size: 16px
				line-height: 18px
				color: #C07F3F
				border-radius: 16px


				&.active
					color: #fff
					background-color: #C07F3F


	&-item
		display: none

		&.active
			display: block

		&__body
			padding: 32px 0 32px



.count
	display: flex
	align-items: center
	width: 116px


	&-btn
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		width: 42px
		height: 42px
		border-radius: 16px
		background-color: transparent
		border: 1px solid #E5E5E5
		outline: none

		.icon
			font-size: 14px

			&:before
				color: #DD0724
				transition: all .3s

			&-minus
				position: relative
				top: 6px

		&:hover
			opacity: 1
			background: linear-gradient(180deg, #D03310 0%, #D20A25 100%)
			box-shadow: 0px 8px 32px rgba(243, 47, 4, 0.32), inset 0px 0px 16px rgba(255, 255, 255, 0.32)

			.icon
				&:before
					color: #fff

	&-value
		width: 32px
		font-size: 16px
		line-height: 20px
		font-weight: bold
		color: #000
		text-align: center
		border: 0
		outline: none
		background-color: transparent














.form

	&-label
		position: absolute
		left: 16px
		top: 19px
		font-size: 18px
		line-height: 26px
		color: #524B45
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent
		z-index: 0


	&-item
		position: relative
		margin-bottom: 24px

		&__row
			margin-left: -8px
			margin-right: -8px

			[class^='col']
				padding-left: 8px
				padding-right: 8px

		&.active
				
			.form-field
				border-color: #C07F3F
				

			.form-label
				top: -14px
				padding: 0 5px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: #C07F3F
				z-index: 10
				background: #fff


	&-field
		position: relative
		background-color: transparent
		width: 100%
		height: 60px
		line-height: 60px
		padding: 0 12px
		border-radius: 16px
		border: 1px solid #A7A8AB
		outline: none
		z-index: 1

		&:hover
			opacity: 1


	&-promocode
		display: flex
		flex-wrap: wrap
		

		.form-item
			margin: 0

		.form-field
			width: 350px

		.btn
			margin-left: 16px
			box-shadow: 0px 8px 32px rgba(243, 47, 4, 0.32), inset 0px 0px 16px rgba(255, 255, 255, 0.32)

			&:hover, &:focus
				box-shadow: none




.succses

	&-top
		display: flex
		flex-wrap: wrap
		margin-bottom: 36px

		&__text
			padding-left: 48px

			.h1
				margin: 0 0 24px

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between





article

	ul
		padding-left: 20px

		li
			margin-bottom: 10px

	p
		margin-bottom: 15px
		line-height: 24px



#modal

	&-product
		max-width: 950px
		width: 100%

	&-sleep
		max-width: 470px
		width: 100%
		padding: 24px

	&-discount
		max-width: 810px
		width: 100%
		padding: 24px
	




.modal
	display: none
	box-shadow: 0px 12px 48px rgba(173, 137, 100, 0.32)
	border-radius: 24px

	.fancybox-close-small
		right: 10px
		top: 10px

	&-product
		display: flex
		flex-wrap: wrap

		&__img
			width: 50%

		&__text
			width: 50%
			padding-left: 24px

		.product-item__bottom
			justify-content: flex-start
			margin-bottom: 24px

		&__weight
			margin-bottom: 24px
			font-size: 18px
			line-height: 26px
			color: #9E948A

		&__composition

			.h4
				margin: 0 0 6px

			p
				font-size: 18px
				line-height: 26px

	&-sleep
		

		img
			display: block
			margin: 0 auto 24px

		.h3
			margin: 0 0 6px
			color: #000
			text-align: center

		p
			margin-bottom: 24px
			font-size: 18px
			line-height: 26px
			text-align: center
		
		.btn
			display: block
			width: 100%
			margin-bottom: 24px

	&-discount
		display: flex
		flex-wrap: wrap

		&__img
			width: 35%

		&__info
			width: 65%
			padding-left: 24px
			
			.h3
				margin-bottom: 16px
				color: #000

			.btn
				width: 100%

.discount

	&-table
		width: 100%
		margin-bottom: 28px

		thead
			tr
				td
					padding-bottom: 12px
					border-bottom: 2px solid #A7A8AB
					font-size: 18px
					line-height: 26px

		tbody
			tr
				td
					padding: 14px 0
					border-bottom: 2px solid #A7A8AB
					font-size: 18px
					line-height: 26px
					color: #000
					border-bottom: 1px solid #D9D9DE

					&:last-child
						color: #DD0724


.footnote
	margin-bottom: 24px
	font-size: 14px
	line-height: 16px




















@media only screen and (max-width: 1599px)
	.cart-block
		right: 0










@media only screen and (max-width: 1199px)
	.shares-wrap
		.shares-item
			img
				width: 100%


	






@media only screen and (max-width: 992px)
	.footer-bottom
		font-size: 12px

	.burger-btn
		display: block
		margin-left: 16px

	.mobile-menu
		display: block

	.header
		padding: 15px 0
		transform: translate(0 0)
		background: #fff
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)

		&-top
			margin: 0

		.container
			width: 100%
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center

			&:before, &:after
				display: none

	.footer
		padding: 30px 0 0

		.logo
			img
				margin: 0 auto 10px

		.header-top
			padding-bottom: 10px
			display: block
			text-align: center

		.header-info
			display: block
			text-align: center

			&__links
				margin: 0 0 10px

		&-bottom
			display: block
			text-align: center

		.header-top__right
			display: block
			text-align: center

		.header-time
			padding: 10px 0 10px
			border: 0

		&-dev
			padding-top: 10px
			justify-content: center

	.pay-systems
		display: block
		padding: 5px 0 0
		text-align: center

		span
			display: block
			padding: 0 0 5px

	.shares-slider .shares-item__img
		max-width: 170px
		display: flex
		align-items: center

	#modal
		&-product
			padding: 24px

	.modal

		.h2
			font-size: 24px
			line-height: 28px

		&-product
			display: block
			padding-top: 24px


			&__img
				display: none

			&__text
				width: auto
				padding: 0

				p
					font-size: 16px
					line-height: 24px

			.btn
				padding: 12px 20px
				font-size: 12px
				line-height: 18px

	.basket-step
		width: 486px

	.basket-table__info--img
		display: none

	.basket-table__info--text
		width: auto

	.basket-table__col:first-child
		width: 40%

	.basket-table__col--calc
		font-size: 18px

	.basket-table__col--price
		font-size: 16px



















@media only screen and (max-width: 768px)
	.shares-wrap
		display: flex
		flex-wrap: wrap

		[class^='col']
			width: 50%
				
	.inner
		padding: 20px 0 40px


	.modal
		&-discount

			&__img
				display: none

			&__info
				padding: 0
				width: 100%

		.discount-table thead tr td
			font-size: 12px

		.discount-table tbody tr td
			padding: 10px 0
			font-size: 12px
			line-height: 16px

	.basket-page
		h2, .h2
			font-size: 24px
			line-height: 28px

		.header-top	
			display: block
			text-align: center

		.basket-step
			width: auto
			margin-top: 16px

	.succses
		padding: 20px 0 0
		&-top
			display: block
			text-align: center
			img
				display: none

			&__text
				padding: 0

		&-bottom
			display: block
			text-align: center

			.header-info
				margin-bottom: 16px
				justify-content: center

	.order-table 
		thead tr td
			font-size: 14px

		tbody tr td
			padding: 10px 0
			font-size: 14px
			line-height: 16px


	.basket
		

		&-total
			&__item
				padding: 14px 0

				span
					&:first-child
						font-size: 14px

					&:last-child
						font-size: 18px
	.form
		&-item
			margin-bottom: 16px

		&-field
			height: 50px
			line-height: 50px

		&-label
			top: 14px
			font-size: 16px
			line-height: 24px

	.basket-top
		display: block

	.basket-top .btn-gold__transparent
		padding-top: 16px
		padding-bottom: 16px
		margin-top: 16px


	.basket-table
		display: block

		&__row
			position: relative
			display: block
			margin-bottom: 16px
			border-radius: 16px
			box-shadow: 0px 8px 24px rgba(173, 137, 100, 0.16)

		&__col
			position: static
			display: inline-block
			padding: 24px

			&:before
				display: none

			&:first-child
				width: auto
				display: block

			&:not(:first-child)
				padding: 10px 0

		&__info--text p
			max-width: none

		&__del
			position: absolute
			right: 10px
			top: 10px
			font-size: 0
			width: 20px
			height: 20px

			&:before
				content: '\e901'
				font-family: icomoon
				font-size: 18px
				width: 20px
				height: 20px
				display: flex
				align-items: center
				justify-content: center

		.count
			margin: 0 10px



	@media only screen and (max-width: 550px)

		.header
			padding: 10px 0
			margin: 0 0 10px
			box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.08)

			.logo
				display: inline-block
				width: 32px
				height: 32px
				background: url(../img/logo-small.svg)

			img
				display: none	

		.banner
			padding-bottom: 30px

		.h1, h1, h2, .h2
			text-align: center

		.h1, h1
			margin-bottom: 24px
			font-size: 32px
			line-height: 32px

		.h2, h2
			margin-bottom: 20px

	.shares-wrap
		[class^='col']
			width: 100%


	.cart-block
		width: 290px
		right: -70px


	.basket-step
		display: block

		&:before
			display: none

		&__item
			margin-bottom: 16px
			text-align: left

	.order-table 
		thead tr td
			font-size: 10px
			line-height: 14px

		tbody tr td
			font-size: 10px
			line-height: 14px

			&:first-child
				img
					display: none

				span
					width: auto
					padding: 0 5px 0 0


	.basket-total__item
		.btn
			width: 100%
			margin-bottom: 16px

			&:last-child
				margin-bottom: 0

	.form-promocode
		.form-item
			width: calc(100% - 160px)

		.form-field
			width: 100%